.page{
}

.lenta{
    margin: 0 auto;
    max-width: 90%;
    margin-top: 50px;
}

.posts{
    margin-top: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap:15px;
}
.post{
    width: 100%;
    background: white;
}

.footer__generated{
    font-size: 80%;
    font-style: italic;
}
