<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
    <link rel="stylesheet" href="css/index.css" th:href="@{/css/index.css}">
</head>
<body class="page">
    <header class="header">
        <div class="header__container">
            <h1 class="header__title">Мой блог</h1>
            <div>
                <button class="header__post-add"></button>
            </div>
        </div>
    </header>
    <div class="lenta">
        <div class="posts">
            <div class="post" th:each="post: ${posts}">
                <div class="post__header">
                    <a href="posts/1" th:href="@{|posts/${post.postId}|}" class="post__title" th:text="${post.title}">Байкал</a>
                </div>
                <p class="post__preview" th:text="${post.previewText}">Это замечательное место, которое нужно посетить каждому</p>
                <p class="post__tags" th:text="${post.previewTags}">#test #noImage</p>
                <div class="post__image"></div>
                <div class="post__footer">
                    <span class="post__likes" th:if="${post.likeCount}">Лайки: <span th:text="${post.likeCount}">29</span></span>
                    <span class="post__comments" th:if="${post.commentCount}">Комментарии: <span th:text="${post.commentCount}">50</span></span>
                    <span class="post__date">Добавлено: <span th:text="${#temporals.format(post.createTime,'dd.MM.yyyy HH:mm:ss')}">02.01.2024 18:30:41</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="footer__generated">Сформировано: <span th:text="${#temporals.format(generatedTime,'dd.MM.yyyy HH:mm:ss')}"></span></p>
    </div>
    <div class="popup popup_type_add">
        <div class="popup__container">
            <div class="popup__header">
                <h2 class="popup__title">Создание поста</h2>
                <button class="popup__close"></button>
            </div>
            <ul class='popup__iform'>
                <li>
                    <p>Заголовок:</p>
                    <input name='title' oninput="OnChangeText(event)" />
                </li>
                <li>
                    <p>Теги:</p>
                    <input name='tags' oninput="OnChangeText(event)" />
                </li>
                <li>
                    <p>Текст:</p>
                    <textarea oninput="OnChangeText(event)" class='popup__text' id="post_text" name="post_text" rows="7" cols="53"></textarea>
                </li>
                <li>
                    <label>
                        <input type="file" onChange="OnChangeFile(event)" />
                    </label>
                </li>
            </ul>
            <button class='popup__save'>Сохранить</button>
        </div>
    </div>
</body>
</html>

<script>
    const btnAddPost = document.querySelector('.header__post-add')
    const addPopupPost = document.querySelector('.popup_type_add')
    const btnPopupClose = document.querySelector('.popup__close')
    const btnPopupSave = document.querySelector('.popup__save')
    // туда будем сохранять значения из формы
    const PostFormData = new FormData();

    // добавляем данные из формы
    const OnChangeText = (event) => {
        const activeInput = event.target
        if (activeInput.name == 'title') PostFormData.set('title', activeInput.value);
        else if (activeInput.name == 'tags') PostFormData.set('tags', activeInput.value);
        else if (activeInput.name == 'post_text') PostFormData.set('text', activeInput.value);
    }

    // функция добавления картинки
    const OnChangeFile = (event) => {
        PostFormData.set('file', event.target.files[0]);
    };

    //сохраняем пост
    btnPopupSave.addEventListener('click', (e) => {
        e.preventDefault();
        // проверяем, введен ли заголовок поста
        if (PostFormData.has('title') && PostFormData.get('title') !== '') {
            fetch('', {
                method: 'POST',
                headers: {},
                body: PostFormData
            })
                .catch((err) => (console.log(err)))
        }

        //закрываем форму
        addPopupPost.classList.remove('popup_opened')
    })


    // Открываем форму
    btnAddPost.addEventListener('click', (e) => {
        e.preventDefault();
        addPopupPost.classList.add('popup_opened')
    })

    // закрываем форму
    btnPopupClose.addEventListener('click', (e) => {
        e.preventDefault();
        addPopupPost.classList.remove('popup_opened')
    })
</script>
